/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

a:hover.btn-outline-primary {
    background-color: white!important;
    border-color: white!important;
}


.btn-outline-primary {
    color: #0f6273!important;
    border-color:#0f6273!important;
}


.btn-primary {
    color: #000!important;
    background-color: #eaf449!important;
    border-color: transparent!important;
    border-radius: 0!important;
    text-transform: uppercase!important;
}


.bg-light {
    background-color: #f8ffdc!important;
    border-color: transparent!important;
}

.btn-success {
    background-color: #0f6273!important;
    border-color: #0f6273!important;
}



.display-4 {
    font-size: calc(1.475rem + 5.7vw)!important;
    font-weight: 300!important;
}

.h5, h5 {
    font-size: 2.25rem!important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 300!important;
    line-height: 1.2!important;
    text-transform: uppercase!important;
    font-family: 'Roboto', sans-serif !important;
}

/* 
  
.marker-cluster-small div {
    background-color: rgb(210 0 255 52%) !important;
}
*/

p {
    font-family: 'Roboto', sans-serif !important;
}

#scroll-to-top {
    color: #c4d006;
}

.text-dark {
    background-color: #eaf449!important;
 
}

.text-white {
    font-family: 'Roboto', sans-serif !important;
}


/* timeline background */

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: rgb(255 255 255 / 5%)!important;
}



.carousel-control-next-icon {
    color: red;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#eaf449'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")!important;
}



.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill=‘#eaf449’%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")!important;
}


.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #eaf449!important;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}


