/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

.btn-primary {
    color: #000!important;
    background-color: #eaf449!important;
    border-color: transparent!important;
    border-radius: 0!important;
    text-transform: uppercase!important;
}

.h5, h5 {
    font-size: 2.25rem!important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 300!important;
    line-height: 1.2!important;
    text-transform: uppercase!important;
    font-family: roboto!important;
}

.text-white {
    font-family: roboto !important;
}

.display-4 {
    font-size: calc(1.475rem + 5.7vw)!important;
    font-weight: 400!important;
}

p {
    font-family: roboto!important;
    color: #0f6273!important;
}
